<h2>登録情報の編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="jumbotron input_area">
  <div class="field">
    <%= f.label "名前" %>
    <%= f.text_field :name, autofocus: true, class: "input60" %>
  </div>

  <div class="field">
    <%= f.label "たんす公開" %>
    <%= f.check_box :items_status %>
  </div>

  <div class="field">
    <%= f.label "着付け受付可能" %>
    <%= f.check_box :dressing_status %>
  </div>

  <div class="field">
    <%= f.label "着付け指導可能" %>
    <%= f.check_box :teaching_status %>
  </div>

  <div class="field">
    <%= f.label "自己紹介" %>
    <%= f.text_area :profile, class: "input100" %>
  </div>

  <div class="field">
    <%= f.label "画像" %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', class: "input100" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">

    <%= f.password_field :password, autocomplete: "off", placeholder: '新しいパスワード（変更しない場合は空白にしてください）', class: "input60" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> 文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: '新しいパスワード（確認用）', class: "input60" %>
  </div>

  <div class="field">
    <%= f.password_field :current_password, autocomplete: "off", placeholder: '現在のパスワード', class: "input60" %>
    (必須)
  </div>

  <div class="actions">
    <%= f.submit "変更を登録" %>
  </div>
<% end %>

<h6>登録削除はこちらから</h6>
<p> <%= button_to "登録削除", registration_path(resource_name), data: { confirm: "削除していいですか?" }, method: :delete %></p>
</div>
<%= link_to "戻る", :back %>
