<h2>利用登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
　<div class="jumbotron input_area">
  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: '名前', class: "input60" %>
  </div>

  <div class="field">
    <%= f.check_box :items_status %>
    たんす公開
  </div>

  <div class="field">
    <%= f.check_box :dressing_status %>
    着付け受付可能
  </div>

  <div class="field">
    <%= f.check_box :teaching_status %>
    着付け指導可能
  </div>

  <div class="field">
    <%= f.text_area :profile, placeholder: '自己紹介', class: "input100" %>
  </div>

  <div class="field">
    画像<%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', class: "input100" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: 'パスワード', class: "input60" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> 文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: '確認用パスワード', class: "input60" %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>
</div>
