<%= form_with(model: coordinate, local: true) do |form| %>
  <% if coordinate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coordinate.errors.count, "件") %> のエラーが発生したため保存されませんでした:</h2>

      <ul>
      <% coordinate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
　<div class="jumbotron input_area">
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, id: :coordinate_title, placeholder: '装いの題名' %>
    </div>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image, id: :coordinate_image %>
    </div>
    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content, id: :coordinate_content, placeholder: '写真の説明、覚書など' %>
    </div>
    <div class="actions">
      <%= form.submit "登録" %>
    </div>
  </div>
<% end %>
