<%= form_with(model: coordinate, local: true) do |form| %>
  <% if coordinate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coordinate.errors.count, "error") %> prohibited this coordinate from being saved:</h2>

      <ul>
      <% coordinate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :coordinate_title %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :coordinate_image %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :coordinate_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
