<div class="container">
  <h1><%= @coordinate.title %></h1>
  <p class="user_name">
    <% if @coordinate.user != current_user %>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <%= User.find_by(id: @coordinate.user_id).name %>
    <% end %>
  </p>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="thumbnail">
        <div class="show_image_area">
          <div class="show_image"><%= image_tag(@coordinate.image) %></div>
        </div>
        <div class="caption">
          <p><%= @coordinate.content %></p>
        </div>
        <% if @favorite.present? %>
          <p class="heart"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="btn_area">
    <% if @coordinate.user_id == current_user.id %>
      <%= link_to 'たんすから選択', choicelist_path(coordinate_id: @coordinate.id), class: 'btn btn-default' %>
      <%= link_to '編集',edit_coordinate_path(@coordinate.id),data: { confirm: '本当に編集していいですか？' }, class: 'btn btn-warning' %>
      <%= link_to '削除',coordinate_path(@coordinate.id),method: :delete,data: { confirm: '本当に削除していいですか？' },class: 'btn btn-danger' %>
    <% else %>
        <% if @favorite.present? %>
          <%= link_to 'お気に入り解除する', favorite_path(coordinate_id: @coordinate.id), method: :delete, class: 'btn btn-default' %>
        <% else %>
          <%= link_to 'お気に入りする', favorites_path(coordinate_id: @coordinate.id), method: :post, class: 'btn btn-default' %>
        <% end %>
        <p><%= link_to 'お気に入り一覧へ', favoritelist_path(user_id: current_user.id) %></p>
    <% end %>
  </div>

  <h3>コメント一覧</h3>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, coordinate: @coordinate } %>
  </div>
  <%= render partial: 'comments/form', locals: { comment: @comment, coordinate: @coordinate } %>
</div>
<%= link_to 'みなさんの装いへ', coordinates_path %>
