<h1>choicelist</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= image_tag item.image %></td>
        <td>
          <% if item.choices.find_by(coordinate_id: @coordinate.id).present? %>
            <%= link_to '解除', choices_path(coordinate_id: @coordinate.id), method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to '選択', choices_path(coordinate_id: @coordinate.id), method: :post, class: 'btn btn-primary' %>
          <% end %>
        </td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
