<h1><%= @user.name %>さんのページ</h1>

<p>
  <% if @user.image.present? %>
    <%= image_tag @user.image, class: "image_of_user" %>
  <% else %>
    <%= image_tag 'camera.png', class: "image_of_user" %>
  <% end %>
</p>
<p>
  <strong>たんす:</strong>
  <% if @user.items_status == true %>
    公開中
    <%= link_to 'たんす', items_path(user_id: @user.id), class: 'btn btn-default' %>
  <% else %>
    非公開
  <% end %>
</p>

<p>
  <strong>着付け受付:</strong>
  <%= if @user.dressing_status == true then "可" else "不可" end %>
</p>

<p>
  <strong>着付け指導:</strong>
  <%= if @user.teaching_status == true then "可" else "不可" end  %>
</p>

<p>
  <strong>プロフィール:</strong>
  <%= @user.profile %>
</p>

<p>
  <strong>装い:</strong>
  <div class="container">
  <% @coordinates.each do |coordinate| %>
    <div class="col-sm-3 col-md-2">
      <div class="thumbnail">
        <div class="image_area">
        <div class="coordinate_image"><%= link_to image_tag(coordinate.image), coordinate_path(coordinate.id) %></div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</p>


<% if @user == current_user %>
  <p><%= link_to 'たんす', items_path(user_id: @user.id), class: 'btn btn-default' %></p>
  <p><%= link_to 'お気に入りの装い', favoritelist_path(user_id: @user.id), class: 'btn btn-default' %></p>
  <p><%= link_to '登録情報の編集', edit_user_registration_path(@user) %></p>
<% else %>
<% end %>
