<div class="container">
  <% if @user == current_user %>
    <h1>私のたんす</h1>
    <div class="btn_area">
      <%= link_to 'たんすに追加', new_item_path, class: 'btn btn-default' %>
    </div>
  <% else %>
    <h1>たんす</h1>
    <p class="user_name">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <%= link_to @user.name, user_path(@user.id) %>
    </p>
  <% end %>

  <% @items.each do |key,items| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><%= Category.find_by(id: key).name %></h4>
    </div>
    <div class="row panel-body">
      <% items.each do |item| %>
        <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <div class="user_page_image_area">
              <div class="show_image"><%= link_to image_tag(item.image), item_path(item.id) %></div>
            </div>
            <div class="caption">
              <p><%= item.title %></p>
              <% if item.user_id == current_user.id %>
                <div class="btn_area">
                  <%= link_to "", item_path(item.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'glyphicon glyphicon-trash' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
