<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @item.image %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find_by(id: @item.category_id).name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @item.content %>
</p>

<p>
<% if @choice.present? %>
  <%= link_to '選択解除', choices_path(coordinate_id: @coordinate.id), method: :delete, class: 'btn btn-danger' %>
<% else %>
  <%= link_to '選択', choices_path(coordinate_id: @coordinate.id), method: :post, class: 'btn btn-primary' %>
<% end %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
