<div class="container">
  <h1><%= @item.title %></h1>
  <% if @item.user != current_user %>
    <p class="user_name">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <%= User.find_by(id: @item.user_id).name%>
    </p>
  <% end %>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="thumbnail">
        <div class="show_image_area">
          <div class="show_image"><%= image_tag(@item.image) %></div>
        </div>
        <div class="caption">
          <h4><%= Category.find_by(id: @item.category_id).name %></h4>
          <p><%= @item.content %></p>
          <p>
            <% if @item.user_id == current_user.id %>
              <%= link_to '編集',edit_item_path(@item.id),data: { confirm: '本当に編集していいですか？' }, class: 'btn btn-warning' %>
              <%= link_to '削除',item_path(@item.id),method: :delete,data: { confirm: '本当に削除していいですか？' },class: 'btn btn-danger' %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'たんすへ戻る', items_path(user_id: @item.user_id) %>
