<!DOCTYPE html>
<html>
  <head>
    <title>装い写真帖</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
            <span class="sr-only">Bootstrap</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">装い写真帖</a>
        </div>
        <div id="gnavi" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "みなさんの装い", coordinates_path %></li>
            <li><%= link_to '写真を投稿',new_coordinate_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><p class="navbar-text"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><%=current_user.name %>さん</p></li>
                <li><%= link_to "マイページ", user_path(current_user.id) %></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "利用登録", new_user_registration_path %></li>
                <li><%= link_to "ログイン", new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
     </nav>
     <div class="notice">
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
    </div>

    <%= yield %>
  </body>
    <footer class="footer">
      <p>yosohoishashinchou 2018</p>
    </footer>
</html>
